html {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  flex-grow: 2px;
}

div {
  padding: .75rem;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: .5rem;
}

img {
  display: block;
  margin: 0 auto 1.5rem;
  width: 100px;
  display: flex;
  justify-content: space-around;
}

h2 {
  font-size: 1rem;
  margin: 0;
}

h3 {
  font-size: .875rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  background-color: #000;
}

p {
  margin: 0;
}

.btn {
  font-size: .875rem;
  color: #fff;
  background-color: #333;
  border-radius: 8px;
  border-width: 3px;
  text-decoration: none;
  padding: .5em;
  display: flex;
  margin-top: 1.5rem;
}

.books {
  display: flex;
  margin: 0;
}

.quest {
  background-color: #e2e2e2;
  border-left: solid 1px #000;
}

.dinosaur {
  background-color: #ccc;
  border-left: solid 1px #000;
}

.dragon {
  background-color: #aaa;
  border-left: solid 1px #000;
}

.ships {
  background-color: #999;
  border-left: solid 1px #000;
}
